@{
    Layout = "_LayoutCustomer";
    ViewData["Title"] = "WaitingOrder";
    ViewData["ActivePage"] = "Order";
}
<div class="text-center mt-5">
    <img src="~/images/Waiting.jpg" style="width:150px;" alt="Waiting">
    <p class="fw-semibold">Mohon maaf membuat anda menunggu.<br>Teknisi kami akan segera ke tempat anda.</p>
</div>
